In [1]:
config = {
    'host': '127.0.0.1',
    'database': 'commentsDB',
    'user': 'student',
    'password': 'itcarlow',
}

In [2]:
import DBcm

In [3]:
with DBcm.UseDatabase(config) as db:
    SQL = "select * from comments order by time DESC"
    db.execute(SQL)
    results =db.fetchall()

In [4]:
results

[(5,
  'Callum',
  'Murphy',
  'Call.Mur@hotmail.com',
  'brb',
  datetime.datetime(2021, 12, 16, 20, 48, 38)),
 (6,
  'Paddy',
  'Green',
  'patgreen@hotmail.com',
  'Whats up doc?',
  datetime.datetime(2021, 12, 16, 20, 48, 38)),
 (4,
  'Kate',
  'Mary',
  'Katie@gmail.com',
  'IDK',
  datetime.datetime(2021, 12, 16, 20, 37, 54)),
 (3,
  'Mary',
  'Jones',
  'M.J@gmail.com',
  'What is this',
  datetime.datetime(2021, 12, 16, 20, 32, 26)),
 (2,
  'Paul',
  'Griffin',
  'P.Griggin@gmail.com',
  'Test',
  datetime.datetime(2021, 12, 16, 19, 31, 42)),
 (1,
  'Fred',
  'Lasso',
  'fred@gmail.com',
  'Hello World!',
  datetime.datetime(2021, 12, 16, 16, 51, 31))]

In [16]:
SQL = "insert into comments (first, last, email, message) values ('Kate', 'Mary', 'Katie@gmail.com', 'IDK')"

In [17]:
with DBcm.UseDatabase(config) as db:
    db.execute(SQL)

In [18]:
type(results)

list

In [19]:
results

[(3,
  'Mary',
  'Jones',
  'M.J@gmail.com',
  'What is this',
  datetime.datetime(2021, 12, 16, 20, 32, 26)),
 (2,
  'Paul',
  'Griffin',
  'P.Griggin@gmail.com',
  'Test',
  datetime.datetime(2021, 12, 16, 19, 31, 42)),
 (1,
  'Fred',
  'Lasso',
  'fred@gmail.com',
  'Hello World!',
  datetime.datetime(2021, 12, 16, 16, 51, 31))]

In [23]:
for row in results:
    print (row)

(3, 'Mary', 'Jones', 'M.J@gmail.com', 'What is this', datetime.datetime(2021, 12, 16, 20, 32, 26))
(2, 'Paul', 'Griffin', 'P.Griggin@gmail.com', 'Test', datetime.datetime(2021, 12, 16, 19, 31, 42))
(1, 'Fred', 'Lasso', 'fred@gmail.com', 'Hello World!', datetime.datetime(2021, 12, 16, 16, 51, 31))

In [25]:
data =  [
    ('Callum', 'Murphy', 'Call.Mur@hotmail.com', 'brb'),
    ('Paddy', 'Green', 'patgreen@hotmail.com', 'Whats up doc?')
]
data

[('Callum', 'Murphy', 'Call.Mur@hotmail.com', 'brb'),
 ('Paddy', 'Green', 'patgreen@hotmail.com', 'Whats up doc?')]

In [29]:
SQL = "insert into comments (first, last, email, message) values ( %s , %s, %s, %s)"

In [30]:
with DBcm.UseDatabase(config) as db:
    db.executemany(SQL, data)

In [31]:
with DBcm.UseDatabase(config) as db:
    SQL = "select * from comments"
    db.execute(SQL)
    results = db.fetchall()
    
results

[(1,
  'Fred',
  'Lasso',
  'fred@gmail.com',
  'Hello World!',
  datetime.datetime(2021, 12, 16, 16, 51, 31)),
 (2,
  'Paul',
  'Griffin',
  'P.Griggin@gmail.com',
  'Test',
  datetime.datetime(2021, 12, 16, 19, 31, 42)),
 (3,
  'Mary',
  'Jones',
  'M.J@gmail.com',
  'What is this',
  datetime.datetime(2021, 12, 16, 20, 32, 26)),
 (4,
  'Kate',
  'Mary',
  'Katie@gmail.com',
  'IDK',
  datetime.datetime(2021, 12, 16, 20, 37, 54)),
 (5,
  'Callum',
  'Murphy',
  'Call.Mur@hotmail.com',
  'brb',
  datetime.datetime(2021, 12, 16, 20, 48, 38)),
 (6,
  'Paddy',
  'Green',
  'patgreen@hotmail.com',
  'Whats up doc?',
  datetime.datetime(2021, 12, 16, 20, 48, 38))]